.App {
  background-color: #dde0ee;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
  min-height: 100vh;
  display: flex;
}

.App-link {
  color: #61dafb;
}
.logo{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.trigger{
  color: aliceblue;
}

.json{
  background:black;
  color:white;
  width:50%; 
  height:330px;
  overflow-y:scroll;
}

.json::-webkit-scrollbar{
  width: 8px;
  height: 8px;    /* Tamaño del scroll en horizontal */
  
}
.json::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.json::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.json::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.json::-webkit-scrollbar-track:hover,
.json::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
